*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
/* root */
:root{
    --blue-logo:#1a1e2b;
    --blue-header:#212631;
    --blue-dashboard:#252a37;
    --blue-box:#212631;
    --blue-5:#323a49;
    --gray-100:#6e7787;
    --gray-200:#aab3c5;
    --gray-300:#8891a3;
    --fs-12:12px;
    --fs-13:13px;
    --fs-14:14px;
    --fs-15:15px;
    --fs-16:16px;
    --fs-17:17px;
    --fs-18:18px;
    --fs-20:20px;
    --fs-24:24px;
    --fs-30:30px;
    --fs-32:32px;
    --fs-40:40px;
    --fs-72:72px;
    --fw-100:100;
    --fw-200:200;
    --fw-300:300;
    --fw-400:400;
    --fw-500:500;
    --fw-600:600;
    --fw-700:700;
    --fw-800:800;
    --fw-900:900;
}
body{
    font-family: 'nunito';
}
.container{
    max-width: 1920px;
    margin: 0 auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.w1{
	width:8.33%;
}
.w2{
	width:16.66%;
}
.w3{
	width:25%;
}
.w4{
	width:33.33%;
}
.w5{
	width:41.66%;
}
.w6{
	width:50%;
}
.w7{
	width:58.33%;
}
.w8{
	width:66.66%;
}
.w9{
	width:75%;
}
.w10{
	width:83.33%;
}
.w11{
	width:91.66%;
}
.w12{
	width:100%;
}

.d-flex{
    display: flex;
    flex-wrap: wrap;
}
ul li{
    list-style: none;
}
a{
    text-decoration: none;
}
.justify-end{
    justify-content: flex-end;
}
.justify-start{
    justify-content: flex-start;
}
.justify-center{
    justify-content: center;
}
.space-between{
    justify-content: space-between;
}
.space-around{
    justify-content: space-around;
}
.space-evenly{
    justify-content: space-evenly;
}
.align-center{
    align-items: center;
}
.text-align{
  text-align: center;
}
/* sidebar */
.slidebar{
  width: 100%;
}
.slidebar .logo {
    width: 100%;
    height: 60px;
    background-color: var(--blue-logo);
}
.slidebar .logo img{
    width: 100%;
    height: 90%;
    object-fit: cover;
}
.menu{
  background-color: var(--blue-dashboard);
  overflow:auto;
  height: 100vh;
}
.menu ul li a{
  color: #a3a5aa;
}
.new{
  color: white;
  background-color: #4799EB;
  padding: 5px;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 10px;
  width: 35px;
  height:20px;
}
.pro{
color: white;
background-color:#cf3d69;
padding: 4px;
border-radius: 5px;
text-transform: uppercase;
font-size: 10px;
width: 30px;
height:20px;
}
.d-none{
display: none;
}
.menu ul li a i{
  color: #a3a5aa;
  padding-right: 5px;
}
.menu ul li{
  padding: 15px;
}
.accordion{
  width: 100%;  
}

.accordion ul {
  background-color: transparent;
}

.accordion .pagenav {
  position: relative;
}
.accordion .pagenav ul {
  display: none;
}
 
.accordion .pagenav h4 a{
  font-size: 15px;
  text-decoration: none;
  color: #a3a5aa;
  text-transform: capitalize;
  font-weight: 400;
}
.accordion .pagenav h4 {
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
}
.accordion .pagenav h4 a i{
  color: #a3a5aa;
  position: relative;
  left: 0;
  padding-right: 10px; 
}
.accordion .pagenav h4 i {
  font-size: 14px;
  position: absolute;
  right: 30px;
  color: #a3a5aa;
  line-height: 20px;
  transition: .2s;
  -webkit-transition: .2s;
  -ms-transition: .2s;
}

.accordion .pagenav.open h4 a i{
  transform: rotate(0deg);
}
.accordion .pagenav.open h4 i{
  transform: rotate(90deg);
}
.accordion li b{
  color: white;
  font-size: 13px;
}
.accordion li .line1, .accordion li .line2, .accordion li .line3{
  position: relative;
  width: 100%;
  height: 3px;
  margin: 5px 0;
  background-color: var(--gray-100);  
}
.accordion li .line1::after{
  position: absolute;
  content: '';
  width: 24%;
  height: 3px;
  background-color: #7c81ea;  
}
.accordion li .line2::after{
  position: absolute;
  content: '';
  width: 74%;
  height: 3px;
  background-color: #ddb30f;  
}
.accordion li .line3::after{
  position: absolute;
  content: '';
  width: 95%;
  height: 3px;
  background-color: #cf3d69;  
}
.accordion li small{
  color: var(--gray-300);
  font-size: 13px;
 margin-top: 5px;
}
/* header */
header{
    padding: 7px 8px;
    background-color: var(--blue-header);
}
header ul li a{
    color: var(--gray-300);
    margin: 0 10px;
}
header ul li a i{
    font-size: var(--fs-18);
}
header .icons ul li a img{
    width: 40px;
    height: 40px;
    border-radius: 30px;
}
header .icons ul li:nth-child(4){
    border-left: 1px solid var(--gray-100);
    border-right: 1px solid var(--gray-100);
    margin-left: 40px;
    margin-right: 15px;
}
header .search-bar{
    background-color: var(--blue-5);
    border-radius: 5px;
}
header .search-bar i{
    background-color: transparent;
    padding: 10px;
    color: var(--gray-200);
}
.search-bar input{
    border: 0;
    background-color: transparent;
    color: white;
    padding-left: 10px;
}
header .search-bar input::placeholder{
    color: var(--gray-200);
    font-size: 14px;
}

/* line chart */
  .sale{
    padding:10px;
    color:gray;
    background-color: #212631;
    border-radius: 15px;
    margin:18px 18px 10px 18px;
    border:1px solid gray;
    font-size:18px;
  }
  .dashboard{
    background-color: #252a37;
    height:100vh;
    overflow: auto;
    color:gray;
    padding: 30px;
  }
 .sale .s{
    font-size:20px;
 }
 .sale .range{
    font-size:22px;
    color: #4799eb;
 }
 /*  bar chart  */
 #densityChart{
    padding: 10px;
    margin: 18px;
    border-radius: 15px;
    border:1px solid gray;
 }
 img,
svg {
  vertical-align: middle;
}

table {
  caption-side: bottom;
  border-collapse: collapse;
}

caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: var(--cui-table-caption-color, var(--cui-secondary-color));
  text-align: left;
}

th {
  text-align: inherit;
  text-align: -webkit-match-parent;
}

thead,
tbody,
tfoot,
tr,
td,
th {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}

label {
  display: inline-block;
}

button {
  border-radius: 0;
}

button:focus:not(:focus-visible) {
  outline: 0;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
select {
  text-transform: none;
}

[role=button] {
  cursor: pointer;
}

select {
  word-wrap: normal;
}
select:disabled {
  opacity: 1;
}

[list]:not([type=date]):not([type=datetime-local]):not([type=month]):not([type=week]):not([type=time])::-webkit-calendar-picker-indicator {
  display: none !important;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}
button:not(:disabled),
[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled) {
  cursor: pointer;
}

::-moz-focus-inner {
  padding: 0;
  border-style: none;
}
textarea {
  resize: vertical;
}
 /* user table */
tr td img{
    width:40px;
    border-radius: 50%;
}
th{
    text-align: left;
    padding: 10px 0;
}
td{
  padding: 10px 0;
}
tr td .usa img{
  width:24px;
  border-radius: 0%;
}
.fw-semibold{
font-weight: var(--fw-800);
}
.user-table{
  border-radius: 15px;
  border:1px solid gray;
  padding:20px;
  font-size: 12px;
}

.border-h{
border-top: 1px solid gray;
}  
.border-hB{
border-bottom: 1px solid gray;
}  
/* 2 boxes */
.boxes .cust p{
  font-size:20px;

}
.boxes{
  line-height: 1.5;
  padding: 0 20px;
  margin:10px 0;
}
.boxes .cust span{
  color: #cf3d69;
}
.p{
  padding: 10px 50px;
}
.boxes .cust{
  border: 1px solid gray;
  border-radius: 10px;
  background-color:#212631;

}
/* 3 charts */
#chart1{
  background-color: #4799EB;
  border-radius: 5PX;
  border: 0;
  
}
#chart2{
  background-color:#f2c40d;
  border-radius: 5PX;
  border: 0;

}
#chart3{
  background-color:#cf3d69;
  border-radius: 5PX;
  border: 0;
}

/* traffic table */
.traffic-table{
  border-radius: 15px;
  border:1px solid gray;
  padding:20px;
  margin-top: 20px;;
  z-index:-9999;
  position: static;
}

.traffic-table  .new-client{
  margin: 10px 0;
}
.traffic-table  .new-client .nc, .rc, .pv, .or{
  margin: 20px 0;
}
.traffic-table  .new-client .nc:nth-child(1){
  border-left: 5px solid #7c81ea;
  padding-left: 5px;
}
.traffic-table  .new-client .rc:nth-child(2){
  border-left: 5px solid #cf3d69;
   padding-left: 5px;
}
.traffic-table  .new-client .pv:nth-child(3){
  border-left: 5px solid yellow;
   padding-left: 5px;
}
.traffic-table  .new-client .or:nth-child(4){
  border-left: 5px solid green;
   padding-left: 5px;
}

.day-tab .day-name p{
  padding: 10px;
}

.day-tab .line .a1, .a2,  .b1, .b2, .c1, .c2, .d1, .d2, .e1, .e2, .f1, .f2, .g1, .g2{
  position: relative;
  width: 80%;
  height: 3px;
  margin: 5px 0;
  background-color: var(--gray-100);  
}
.day-tab .line .a1::after{
  position: absolute;
  content: '';
  width: 24%;
  height: 3px;
  background-color: #7c81ea;  
}
.day-tab .line .a2::after{
  position: absolute;
  content: '';
  width: 50%;
  height: 3px;
  background-color: #cf3d69;  
}
.day-tab .line .b1::after{
  position: absolute;
  content: '';
  width: 74%;
  height: 3px;
  background-color: #7c81ea;  
}
.day-tab .line .b2::after{
  position: absolute;
  content: '';
  width: 95%;
  height: 3px;
  background-color: #cf3d69;  
}
.day-tab .line .c1::after{
  position: absolute;
  content: '';
  width: 34%;
  height: 3px;
  background-color: #7c81ea;  
}
.day-tab .line .c2::after{
  position: absolute;
  content: '';
  width: 65%;
  height: 3px;
  background-color: #cf3d69;  
}
.day-tab .line .d1::after{
  position: absolute;
  content: '';
  width: 84%;
  height: 3px;
  background-color: #7c81ea;  
}
.day-tab .line .d2::after{
  position: absolute;
  content: '';
  width: 45%;
  height: 3px;
  background-color: #cf3d69;  
}
.day-tab .line .e1::after{
  position: absolute;
  content: '';
  width: 70%;
  height: 3px;
  background-color: #7c81ea;  
}
.day-tab .line .e2::after{
  position: absolute;
  content: '';
  width: 40%;
  height: 3px;
  background-color: #cf3d69;  
}
.day-tab .line .f1::after{
  position: absolute;
  content: '';
  width: 99%;
  height: 3px;
  background-color: #7c81ea;  
}
.day-tab .line .f2::after{
  position: absolute;
  content: '';
  width: 50%;
  height: 3px;
  background-color: #cf3d69;  
}
.day-tab .line .g1::after{
  position: absolute;
  content: '';
  width: 20%;
  height: 3px;
  background-color: #7c81ea;  
}
.day-tab .line .g2::after{
  position: absolute;
  content: '';
  width: 55%;
  height: 3px;
  background-color: #cf3d69;  
}
.day-tab .line .a2, .b2, .c2, .d2, .e2, .f2, .g2{
  margin-bottom: 30px;
}
.day-tab .line .a1{
  margin-top: 20px;
}
.day-tab .prs .mf i{
  margin: 0 2px;
}

.day-tab .prs .mpr .m01{
  position: relative;
  border:0;
  width: 100%;
  height: 5px;
  margin: 7px 0;
  background-color: var(--gray-100);  
}
.day-tab .mpr .m01::after{
  position: absolute;
  content: '';
  width: 43%;
  height: 5px;
  background-color: #f2c40d;  
}

.day-tab .prs .mpr .m02{
  position: relative;
  border:0;
  width: 100%;
  height: 5px;
  margin: 7px 0;
  background-color: var(--gray-100);  
}
.day-tab .mpr .m02::after{
  position: absolute;
  content: '';
  width: 37%;
  height: 5px;
  background-color: #f2c40d;  
}

.day-tab .prs .mpr .m03{
  position: relative;
  border:0;
  width: 100%;
  height: 5px;
  margin: 7px 0;
  background-color: var(--gray-100);  
}
.day-tab .mpr .m03::after{
  position: absolute;
  content: '';
  width: 56%;
  height: 5px;
  background-color: #5cc18b;  
}

.day-tab .prs .mpr .m04{
  position: relative;
  border:0;
  width: 100%;
  height: 5px;
  margin: 7px 0;
  background-color: var(--gray-100);  
}
.day-tab .mpr .m04::after{
  position: absolute;
  content: '';
  width: 15%;
  height: 5px;
  background-color: #5cc18b;  
}

.day-tab .prs .mpr .m05{
  position: relative;
  border:0;
  width: 100%;
  height: 5px;
  margin: 7px 0;
  background-color: var(--gray-100);  
}
.day-tab .mpr .m05::after{
  position: absolute;
  content: '';
  width: 11%;
  height: 5px;
  background-color: #5cc18b;  
}

.day-tab .prs .mpr .m06{
  position: relative;
  border:0;
  width: 100%;
  height: 5px;
  margin: 7px 0;
  background-color: var(--gray-100);  
}
.day-tab .mpr .m06::after{
  position: absolute;
  content: '';
  width: 08%;
  height: 5px;
  background-color: #5cc18b;  
}
/* footer */
.footer{
  margin-top: 20px ;
}
.footer .creative span a{
  color:skyblue;
  text-decoration:underline;
}

.footer .provide span a{
  color:skyblue;
  text-decoration:underline;
}
/* toggle */
.slidebar{
  width:40%;
  position: absolute;
  z-index: 9999;
  left:0;
}