*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
}

.container{
	max-width: 1300px;
	margin: auto;
	
}

.xs-1, .xs-2, .xs-3, .xs-4, .xs-5, .xs-6, .xs-7, .xs-8, .xs-9, .xs-10, .xs-11, .xs-12, .sm-1, .sm-2, .sm-3, .sm-4, .sm-5, .sm-6, .sm-7, .sm-8, .sm-9, .sm-10, .sm-11, .sm-12, .md-1, .md-2, .md-3, .md-4, .md-5, .md-6, .md-7, .md-8, .md-9, .md-10, .md-11, .md-12, .lg-1, .lg-2, .lg-3, .lg-4, .lg-5, .lg-6, .lg-7, .lg-8, .lg-9, .lg-10, .lg-11, .lg-12, .xl-1, .xl-2,  .xl-3, .xl-4, .xl-5, .xl-6, .xl-7, .xl-8, .xl-9, .xl-10, .xl-11, .xl-12{

    position: relative;
	padding: 12px;		
}

body{
	font-family: 'Josefin Sans';
	background-color: var(--secondary);
	font-size: 18px;
	font-weight: 300;
	color: var(--white);
	
}

html{
	scroll-behavior: smooth;
}


.row{
	display: flex;
	flex-wrap: wrap;
}
.justify-content-center{
	justify-content: center;
}

.block{
	display: inline-block;
}

:root{
	--primary: #c6a87d;
    --secondary: #101418;
    --dark: #080b0e;
    --grey: #777777;
    --white: #ffffff;
    --text: #ffffffcc;
    --custom-bg: #13181c;
	
}

.d-flex{
	display: flex;
}

.primary{
	background: var(--secondary);
}

::selection{
	background: var(--primary);
}

.width{
	width: 100%;
}

.text-center{
	text-align: center;
}

a{
	text-decoration: none;
	color: var(--white);
}

li{
	list-style: none;

}

.justify-content-between{
	justify-content: space-between;
}

.align-items-center{
	align-items: center;
}

.dark{
	background-color: var(--dark);	
}



.toggle-menu{
	background-color: var(--primary);
	padding: 0px 8px;
	margin: 10px;
	border: none;
	display: none;
}


ul.content li a{
	padding: 15px 30px;
	display: inline-block;
	border-left: 1px solid rgba(255,255,255,0.2);
	font-size: 16px;
	
}

ul.icon li a{
	padding: 15px 20px;
	display: inline-block;
	border-left: 1px solid rgba(255,255,255,0.2);
	transition: all 0.5s;
}

ul.content li:last-child a{
	border-right: 1px solid rgba(255,255,255,0.2);
}
ul.icon li:last-child a{
	border-right: 1px solid rgba(255,255,255,0.2);
}
ul.icon li:hover a{
	background-color: var(--primary);
}
/* header */


header nav > ul > li > a{
	line-height: 90px;
	display: inline-block;
	padding-right:  20px;
}

header nav > ul > li > a i{
	padding-left: 10px; 
}

header nav > ul > li:last-child > a{
	background-color: var(--primary);
	padding: 10px 30px;
	display: inline-block;
	line-height: 2;
	position: relative;
	font-size: 18px;
	
}

.line{
	height: 1px;
	width: 30px;
	margin-left: 15px;
	display: inline-block;
	margin-bottom:5px;
	background: var(--white);
	transition: all 0.8s;
}

.line1{
	height: 1px;
	width: 30px;
	margin-left: 15px;
	display: inline-block;
	margin-bottom:5px;
	background: var(--primary);
	transition: all 0.8s;
}

.active{
	color: var(--primary);
}

span{
	transition:all 0.8s;
}

header nav > ul > li > a:hover > .line{
	opacity: 0;
}

header nav > ul > li:last-child > a:hover > span{
	transform: translatex(50px);
}

header nav > ul > li > a > span:first-child{
	width: 30px;
	height: 1px;
	background: var(--white);
	display: inline-block;
	position: absolute;
	top: 50%;
	left: -15px;
	transform: scalex(0);
	transition: all 0.7s;
}

header nav > ul > li > a:hover > span:first-child{
	left: 30px;
	transform: scalex(1);
	display: block;
	transform-origin: left center;
}



header nav ul.dropdown{
	position: absolute;
	display: none;
	min-width: 200px;
	background: var(--dark);
	border: 1px solid var(--primary);
}

header nav ul.dropdown li a{
	line-height: 40px;
	font-size: 16px;
	padding: 10px;
	
	border-bottom: 1px solid var(--grey);
	display: block;
	transition: all 0.5s;
}

header nav ul.dropdown li:last-child a{
	border: none;
}
header nav > ul > li:hover > ul.dropdown{
	display: block;
}

header nav ul.dropdown li a:hover{
	background: var(--primary);
}

header nav > ul > li:hover > ul.dropdown li a{
	display:flex;
}

header{
	position:sticky;
	z-index: 999;
	top:0;
	background: var(--secondary);
	
}

.fix  i{
	right: 10px;
	font-size: 22px;
	
	color: white;
	
}

.fix{
	position: fixed;
	right: 50px;
	bottom: 50px;
	z-index: 998;
	display: inline-block;
	width: 45px;
	height: 45px;
	background: var(--primary);
	line-height: 50px;
	
}
/*banner*/

.banner{
	background-image: url(../img/banner.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 300px 0;
	
}

.banner h6{
	font-size: 18px;
	color: var(--primary);
	font-family: 'Miniver';
	
}

.banner h1{
	font-size: 64px;
	color: var(--white);
	font-weight: 400;
	padding: 20px;
}
.banner p{
	color: var(--white);
	font-size: 20px;
	
	
}

a.btn{
	display: inline-block;
	padding: 15px 30px;
	position: relative;
	margin: 30px;
	transition: all 0.8s;
	font-size: 18px;
	
	border: 1px solid var(--white);
}

a.btn1{
	display: inline-block;
	position: relative;
	margin: 30px;
	transition: all 0.8s;
	font-size: 18px;
	
	
}

.btn:hover  .line{
	opacity: 0;
}

.btn1:hover  .line{
	opacity: 0;
}

a.btn span.last{
	display: inline-block;
}

a.btn1 span.last{
	display: inline-block;
	color: var(--primary);
}


a.btn:hover > span.last{
	transform: translatex(50px);
}

a.btn1:hover > span.last{
	transform: translatex(50px);
}

a.btn span:first-child{
	width: 30px;
	height: 1px;
	background: var(--white);
	display: inline-block;
	position: absolute;
	top: 50%;
	left: -15px;
	transform: scalex(0);
}

a.btn1 span:first-child{
	width: 30px;
	height: 1px;
	background: var(--primary);
	display: inline-block;
	position: absolute;
	top: 50%;
	left: -10px;
	transform: scalex(0);
}

a.btn:hover{
	border-color: var(--primary);
	background:var(--primary);
}

a.btn:hover span:first-child{
	left: 30px;
	transform: scalex(1);
	display: block;
	transform-origin: left center;
}

a.btn1:hover span:first-child{
	left: 10px;
	transform: scalex(1);
	display: block;
	transform-origin: left center;
}


/*menu*/

.box33{
	
	
}

.menu img{
	object-fit: cover;
	height: 465px;
	width: 100%;
	transition: all 0.5s;
}

.box33:hover > .menu > img{
	transform: scale(1.2);
}
.box33 .menu{
	overflow: hidden;
}

.box33 > a{
	padding: 20px 0;
	display: block;
	background: var(--dark);
	font-size: 24px;
	margin-top: -5px;
}

/*discription*/

.box50{
	
	
	margin: 130px 12px;
	
}

.box50 > img{
	
	width: 100%;
}

.box50 > h5{
	font-size: 18px;
	color: var(--primary);
	font-family: 'Miniver';
	
	margin: 0 0 5px;
}

.box50 > h2{
	font-size: 48px;
	font-weight: 400;
	line-height: 56px;
}

.box50 > h6{
	font-size: 18px;
	color: var(--text);
	
	line-height: 28px;
	margin-bottom: 30px;
}

.box50 > ul > li > i{
	color: var(--primary);
}

.box50 > ul > li{
	margin: 30px 0 18px;
	color: var(--text);
	font-size: 18px;
	
	font-size: 18px;
}


.box50 > a{
	margin:45px 0 0;
}

.b50{
	
	
}
.marg-60{
	margin-top: -60px;
}

.b50 img{
	height: 50px;
	margin-right: 15px;
}

.b50  h5{
	font-size: 24px;
	font-weight: 400;
	font-style: normal;
	margin-bottom: 10px;
}

.b50 p{
	line-height: 28px;
	
	color: var(--text);
	margin-right: 10px;	
}

/* content*/

.box25{
	
	padding: 30px 15px 30px 15px; 
	background-color: var(--secondary);
	
	z-index: 30;
	position: relative;
}



.box25 img{
	height: 90px;
	background-color: var(--dark);
	padding: 15px;
	border-radius: 50%;
	line-height: 88px;
	margin: 28px;
}

.box25 h4{
	font-size: 24px;
	font-weight: 400;
	
}
.box25 p{
	
	line-height: 28px;
	color: var(--text);
}


.box25  a.btn1{
	border:none;
}

h6{
	font-size: 18px;
	color: var(--primary);
	font-family: 'Miniver';
	
	margin: 0 0 5px;
	
}

h2{
	font-size: 48px;
	line-height: 56px;	
	font-weight: 400;
}

.wrap{
	flex-wrap: wrap; 
}

/*menu*/


.color:before{
	position: absolute;
	content:'';
	width: 20px;
	height: 20px;
	background: var(--primary);
	bottom: -10px;
	left:0;
	right: 0;
	margin: auto;
	transform: rotate(45deg);
}


.color{
	background-color: #c6a87d;
}

.Service{
	background: linear-gradient(90deg, var(--dark) 70%, #F2295B00 0%);
	position: relative;
}

.Service h2{
	margin-bottom: 45px;
}

.btn1 .line{
	background: var(--primary);
}

.Service > .container > img{
	position: absolute;
	right: 0;
	top: -60px;
	width: 50%;
	z-index: 29;
}


.bg-img{
	background-image: url(../img/cta.jpg);
	padding: 90px 0;
	background-repeat: no-repeat;
	width: 100%;
	background-size: cover;
    background-attachment: fixed;
}


/*menu*/

.box20{

	position: relative;
	background-color: var(--dark);

	padding: 30px;
}

.color:before{
	position: absolute;
	content:'';
	width: 20px;
	height: 20px;
	background: var(--primary);
	bottom: -10px;
	left:0;
	right: 0;
	margin: auto;
	transform: rotate(45deg);
}

/*menu tab*/


.color{
	background-color: #c6a87d;
}

.m130{
	margin: 120px 0;
}

.p120{
	padding: 130px 0;
}

.p130{

	padding: 130px 0;
}

.m120{
	margin: 0 0 120px 0 ;
}


.bx50{
	
	padding: 45px;
	background-color: var(--dark);
}

.font{
	font-family: 'Josefin Sans';
	font-Weight: 300;
}

.bx50 input{
	display: block;
	margin: 0 0 30px;
	padding: 0 15px;
	background: transparent;
	width: 100%;
	border: 1px solid var(--white);
	font-size: 16px;
	height: 52px;
    line-height: 52px;
	font-family: 'Josefin Sans';
	color: var(--text);
	
	
}

button{
	font-family: 'Josefin Sans';
	color: var(--white);
	
	display: inline-block;
	font-style: normal;
	font-size: 18px;
	line-height: 36px;
	padding: 10px 30px;
	font-weight: normal;
	background: transparent;
	border: 1px solid var(--white);
	transition: all 0.5s;
}

.justify-content-end{
	justify-content: flex-end;
}

.abs{
	position: relative;
}



button:hover{
	background: var(--primary);
	color: white;
	border-color: var(--primary);
}

img.absolute{
	position: absolute;
	left:100px;
	height: 86%;
	z-index: 43;
}

svg{
	border-radius: 50%;
	color: var(--primary);
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 42;
}


/*list*/



.b25{
	
	padding: 12px;
	margin: 50px 0 0 20px;
	position: relative;
	
}

.b25 h5{
	margin-top: 45px;
    text-transform: capitalize;
    font-size: 18px;
    line-height: 28px;
	font-Weight: 300;
	color: var(--text);
	
}

.b25 span{
	font-size: 48px;
    line-height: 54px;
    display: inline-block;
    font-weight: 400;
    color: var(--primary);
}

.b25 p{
	margin-top: 45px;
    text-transform: capitalize;
    font-size: 18px;
    line-height: 28px;    
}

.b25:after{
	position: absolute;
	content: '';
    width: 30px;
    height: 1px;
    background: var(--grey);
    display: block;
    left: 45%;
	top: 80px; 
    
}

/*news*/

.b33{
	
	margin: 60px 12px 0 12px;
	background-color: var(--dark); 
	position: relative;
}

.images{
	overflow: hidden;
	position: relative;
}

.b33:hover .images img{
	transform: scale(1.2);
}

.b33 > .images > img{
	width: 100%;
	
	transition: all 0.5s;
	
} 

.cont{
	padding: 30px;
}

.b33 span{
	font-size: 16px;
	margin-right: 20px;
	
}

.b33 i{
	color: var(--primary);
	font-size: 16px;
	margin-right: 10px;
}

.cont > a{
	font-size: 22px;
}

.cont > p{
	margin: 0 0 20px;
	
	line-height: 28px;
	color: var(--text);
}

.cont > a.btn1{
	margin: 10px 0 0;
}

.cont > a.btn1 > div.line{
	margin-left: 0;
}

.hr{
	width: 100%;
	height: 0.5px;
	background: var(--text);
}

.order1{
	order: 2;
	width: 100%;
}

.order2{
	order: 1;
	width: 100%; 
}

.grid{
	display: grid;
}


span.april,
span.april1{
	padding: 10px 15px; 
	font-size: 14px;
	display: inline-block;	
	background-color: var(--primary);
	position: absolute;
	left: 15px;
	top: 15px;
}




/*footer*/

footer{
	padding: 60px 0;
	margin-top: 130px;
	background-color: var(--dark);
	z-index: 9;
}

.bx33{
	
	padding: 0 12px;
}

.bx33 h4{
	margin-bottom: 35px;
}

.bx33 img{
	height: 50px;
	margin-bottom: 35px;
}

.bx33 p{
	margin-bottom: 30px;
	
    line-height: 28px;
}

.bx33 > ul.tag > li > a{
	background: var(--secondary);
    color: var(--text);
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
	margin-right: 10px;
    display: inline-block;
	transition: all 0.5s;
}

.bx33 > ul.tag > li:hover > a{
	background: var(--primary);
}

.bx33{
	margin-bottom: 30px;	
	line-height: 32px;
}


.itag{
	color: var(--primary);
	font-size: 18px;
}

.bx33 .stag{
	color: var(--text);
	font-size: 18px;
	margin-left: 20px;	
}

.marg > ul > li{
	margin-bottom: 15px;
}


.day{
	
	line-height: 28px;
	color: var(--text);
}

.hr1{
	width: 100%;
	height: 1px;
	background-color: var(--text);
	margin: 10px 0;
	
}

.sub{
	width:100%;
	padding: 30px 0;
	background-color: var(--secondary);
	z-index: 10;
	position: relative;
	display: inline-block;
	
}

.subscribe img{
	height: 40px;
}

.sub h5{
	font-size: 24px;
    font-style: normal;
    line-height: 32px;
	font-weight: 400;
	margin: 0 200px 0 30px;
}

.sub input{
	max-width: 400px;
	height: 50px;
	padding: 0 15px;
	color: var(--text);
	background-color: transparent;
	border: 1px solid var(--text);
	margin: 0 15px;
}

.copy{
	padding: 30px 0;
	font-weight:300;
}


.sub button{
	background: transparent;
	transition: all 0.5s;
}

.sub button:hover{
	background: var(--primary);
}

.sub a{
	display: block;
	padding: 15px 30px;
	background: var(--primary);
	transition: all 0.5s;
	border: 1px solid var(--primary);
}

.sub a:hover{
	background: transparent;
	border: 1px solid var(--primary);
}