* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
}
:root {
	--bg-color: #112429;
	--btn: #262828;
	--sidebar-color: #182f35;
	--primary-color: #7ae7c7;
	--secondary-color: #6d8683;
	--white-color: #ffffff;
	--black-color: #000000;
	--black-800: #07242C;
	--black-700: #4a5e61;
	--gray: #626262;
	--fw-300: 300;
	--fw-400: 400;
	--fw-500: 500;
	--fw-600: 600;
	--fw-700: 700;
	--fw-900: 900;
	--fs-14: 14px;
	--fs-16: 16px;
	--fs-20: 20px;
	--fs-22: 22px;
	--fs-24: 24px;
	--fs-36: 36px;
	--fs-55: 55px;
	--fs-70: 70px;
	--lh: 1.5;
	--padding-left: 12px;
	--padding-right: 12px;
	--inter: 'Inter';
	--space: 'Space Grotesk';
}
body {
	width: 100%;
	background-color: var(--bg-color);
	color: var(--white-color);
	font-family: var(--inter);
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
	color: #262828;
}
.text-center {
	text-align: center;
}
.py100{
	padding: 100px 0;
}
.my100{
	margin: 100px 0;
}
.container {
	max-width: 1210px;
	margin: 0 auto;
}
.row {
	display: flex;
	flex-wrap: wrap;
	padding-left: var(--padding-left);
	padding-right: var(--padding-right);
}
.w-1 {
	width: 8.33%;
}
.w-2 {
	width: 16.66%;
}
.w-3 {
	width: 25%;
}
.w-4 {
	width: 33.33%;
}
.w-5 {
	width: 41.66%;
}
.w-6 {
	width: 50%;
}
.w-7 {
	width: 58.33%;
}
.w-8 {
	width: 66.66%;
}
.w-9 {
	width: 75%;
}
.w-10 {
	width: 83.33%;
}
.w-11 {
	width: 91.66%;
}
.w-12 {
	width: 100%;
}
.w-1,.w-2,.w-3,.w-5,.w-6,.w-7,.w-8,.w-9,.w-11,.w-12 {
	padding-left: var(--padding-left);
	padding-right: var(--padding-right);
}
.d-flex {
	display: flex;
}
.align-center {
	align-items: center;
}
.justify-center {
	justify-content: center;
}
.justify-between{
	justify-content: space-between;
}
/* header start */
.head {
	height: 100vh;
	background-color: var(--sidebar-color);
	position: sticky;
	top: 0;
}
.logo {
	padding: 50px 0;
}
nav ul li {
	padding: 10px;
	text-transform: capitalize;
}
nav ul li a {
	font-size: var(--fs-16);
	font-family: var(--inter);
	color: var(--secondary-color);
}
nav ul li a:hover {
	color: var(--primary-color);
}
nav ul li:first-child a {
	color: var(--primary-color);
}
.btn {
	margin: 50px;
	padding: 12px 20px;
	background-color: rgba(109, 131, 134, 0.3);
	color: var(--primary-color);
	border: 0;
	border-radius: 70px;
	font-family: var(--space);
	font-weight: 900;
}
.btn:hover {
	background-color: var(--primary-color);
	color: var(--black-color);
}
.head p {
	color: var(--white-color);
	font-family: var(--inter);
	font-size: var(--fs-16);
}
.icon{
	position: absolute;
	margin: 20px 0;
	color: var(--white-color);
	letter-spacing: 4px;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	cursor: pointer;
}
.icon i:hover{
	color: var(--primary-color);
}
/* header end */
/* homex start */
.home{
	position: relative;
	height: 100vh;
	background-image: url(../img/coaching3-slider-pic3.svg);
	background-repeat: no-repeat;
	background-position: -310px -310px;
}
.home-content{
	padding: 200px 0;
	text-transform: uppercase;
}
.home-content span{
	color: var(--primary-color);
	font-size: var(--fs-16);
	padding: 5px 20px;
	border-radius: 5px;
	background-color: var(--sidebar-color);
	font-family: var(--space);
}
.home-content h1 {
	font-size: var(--fs-70);
	font-family: var(--space);
	font-weight: var(--fw-500);
	margin: 40px 0;
}
.home-content h1 span {
	font-size: var(--fs-70);
	background: transparent;
	padding: 0;
}
.home-content p {
	font-size: var(--fs-16);
	font-family: var(--space);
	font-weight: var(--fw-500);
	font-size: var(--fs-20);
	text-transform: none;
}
.btn1 {
	background-color: var(--primary-color);
	color: var(--btn);
	padding: 10px 30px;
	border-radius: 70px;
	font-weight: var(--fw-600);
	border: 0;
	font-size: var(--fs-22);
	margin: 40px 0;
}
.slide-img {
	justify-content: space-between;
	margin: 90px 0;
}
.man-img{
	position:absolute;
	background-image:url(../img/coaching3-slider-pic2.svg);
	background-repeat:no-repeat;
	background-position:0 150px;
	top:0;
	right:0;
	width:50%;
}
.black-circle1{
	position:absolute;
	top:20%;
	left:5%;
}
.black-circle2{
	position:absolute;
	bottom:28%;
	right:20%;
}
.black-circle1, .black-circle2{
	animation:heartbeat 3s infinite;
}
@keyframes heartbeat{
	0%{
		transform:scale(1);
	}
	50%{
		transform:scale(0.8);
		-webkit-filter:blur(6px);

	}
	100%{
		transform:scale(1);
	}
}
/* home end */
/* about start */
.about {
	margin: 250px 0 0 0;
}
.about .about-content1 h2 {
	font-size: var(--fs-70);
	font-family: var(--space);
	font-weight: var(--fw-500);
	color: var(--secondary-color);
}
.about-2{
	background-image: url(../img/coaching3-section-bg1.svg);
	background-repeat: no-repeat;
	background-position: -200px 70px;
	margin: 100px 0;
}
.about-2 .men-img1 img {
	border-radius: 30px;
}
.about-2 .about-content2 h3 {
	font-size: var(--fs-55);
	font-family: var(--space);
	color: var(--primary-color);
	font-weight: var(--fw-500);
}
.about-2 .about-content2 span {
	font-size: var(--fs-24);
	font-family: var(--space);
	color: var(--white-color);
	font-weight: var(--fw-500);
	display: inline-block;
	margin: 40px 0;
	width: 75%;
}
.about-2 .about-content2 p {
	font-size: var(--fs-16);
	font-family: var(--inter);
	color: var(--white-color);
	font-weight: var(--fw-200);
	display: inline-block;
	width: 75%;
}
.about-2 .about-content2 img {
	display: inline-block;
	margin: 60px 0;
}
.down{
	margin:35px auto;
}
.down-arrow{
	width:70px;
	height:70px;
	border:2px solid var(--primary-color);
	border-radius: 50%;
	margin:20px 50%;
	color:var(--primary-color);
	font-size:var(--fs-24);
	font-weight:var(--fw-900);
	transition:0.4s;
}
.down-arrow:hover{
	transform: scale(1.05);
}
.succeed{
	background-color: var(--white-color);
	border-radius: 20px;
	padding: 80px 0px 20px 90px;
}
.succeed-content{
	padding-right: 150px;
}
.succeed h2{
	color: var(--black-color);
	font-size: var(--fs-55);
	font-family: var(--space);
	line-height: 1.2;
}
.succeed p{
	color: var(--black-color);
	font-size: var(--fs-16);
	font-family: var(--inter);
	line-height: var(--lh);
	margin: 30px 0;
}
.succeed span {
	color: var(--black-color);
	font-size: var(--fs-24);
	font-family: var(--space);
	font-weight: var(--fw-500);
	margin: 20px 0;
	display: block;
}
.succeed-content input {
	border: 0;
	border-bottom: 2px solid var(--secondary-color);
	padding: 10px 0;
	display: block;
	width: 100%;
}
.succeed-content .btn1{
	width: 100%;
	padding: 10px;
	font-size: var(--fs-16);
	font-weight: var(--fw-600);
	margin: 15px 0;
}
.service-title .main-title h2{
	font-size: var(--fs-55);
	font-family: var(--space);
	color: var(--primary-color);
	font-weight: var(--fw-500);
	margin: 90px 10px;
	padding-right: 35%;
	line-height: 1.15;
}
/* about end */
/* services start */
.services{
	background-image:url('../img/coaching3-section-bg2.webp');
	background-repeat:no-repeat;
	background-position:-240px 0px;
}
.services-content h3{
	font-size:var(--fs-36);
	font-family:var(--space);
	border-bottom:1px solid #1D4854;
	width:95%;
	margin-bottom:40px;
	padding-bottom:15px;
}
.services-content h3 i{
	font-size:10px;
	color:var(--primary-color);
	margin: 0 20px 0 0;
}
.services-content span{
	font-family:var(--font-family-pace);
	font-size:var(--fs-16);
	line-height:26px;
}
.services-content{
	margin-top:600px;
}
/* services end */
/* guides start */
.guides {
	margin:-200px 0 0 0;
	background-image:url('../img/coaching3-section-bg1');
	background-repeat:no-repeat;
	background-position:-200px 75px;
}
.guides-0{
	background-color:var(--primary-color);
	border-radius:30px;
	margin-top:400px;
}
.guides-img {
	width:350px;
	margin:-40px 0 50px 70px;
}
.guides-img img{
	width:100%;
}
.guides-content-img{
	border-top:1px solid #45c7a1;
	border-bottom:0.5px solid #45c7a1;
	width:400px;
	padding:20px 0;
}
.guides-content h2{
	font-size:var(--fs-55);
	color:var(--black-color);
	font-weight:var(--fw-500);
	padding-top:50px;
	font-family:var(--font-family-pace);
}
.guides-content h5{
	font-size:var(--fs-20);
	color:var(--black-color);
	font-weight:var(--fw-500);
	font-family:var(--font-family-pace);
	padding:20px 190px 20px 0;
	line-height:30px;
}
.guides-content p{
	font-size:var(--fs-16);
	color:var(--black-color);
	font-weight:var(--fw-400);
	font-family:var(--font-family-inter);
	padding:20px 190px 20px 0;
}
.guide{
	border:1px solid #1d4854;
	border-radius:20px;
	padding:60px 56px 20px;
}
.guide-content p{
	color:var(--primary-color);
	font-size:var(--fs-24);
	font-family:var(--space);
	padding:20px;
}
.guide-content p span{
	color:var(--white-color);
}
.list-1{
	border-bottom:2px solid var(--secondary-color);
	padding:5px;
	margin:10px;
	position:relative;
	z-index:-1;
}
.guide .list-1 h6{
	font-size:var(--fs-14);
	color:var(--primary-color);
}
.guide .list-1 span{
	font-size:var(--fs-14);
	padding:5px;
	background-color:var(--sidebar-color);
	color:var(--secondary-color);
	border-radius:7px;
}
.list-1::after{
	content:'';
	position:absolute;
	box-sizing:border-box;
	border-bottom:2px solid var(--primary-color);
	bottom:-2px;
	left:0;
	width:80%;
	z-index:1;
}
.list-2::after{
	content:'';
	position:absolute;
	box-sizing:border-box;
	border-bottom:2px solid var(--primary-color);
	bottom:-2px;
	left:0;
	width:88%;
	z-index:1;
}
.list-3::after{
	content:'';
	position:absolute;
	box-sizing:border-box;
	border-bottom:2px solid var(--primary-color);
	bottom:-2px;
	left:0;
	width:100%;
	z-index:1;
}
.guide-review{
	position: relative;
}
.review-img,
.review-img img{
	width: 100%;
	position: relative;
}
.review-img h4{
	padding: 320px 38px 0; 
	position: absolute;
	font-size: var(--fs-24);
	font-family: var(--space);
	display: inline-block;
	bottom: 30px;
	left: 0;
}
.test-content h6{
	padding: 320px 38px 0; 
	position: absolute;
	font-size: var(--fs-24);
	font-family: var(--space);
	display: inline-block;
	bottom: 30px;
	left: 0;
}
/* guides-2 start */
.guides-2{
	padding:80px 50px;
}
.guides-2 span{
	font-family:var(--font-family-pace);
	color:var(--primery-color);
	font-size:var(--fs-14);
	background-color:var(--color);
	padding:5px 15px;
    border-radius:5px;
    font-weight:var(--fw-500);
}
.guides-2 h2{
	font-family:var(--font-family-pace);
	color:var(--primery-color);
	font-size:var(--fs-55);
    font-weight:var(--fw-500);
	margin-top:20px;
}
.Popural-guides-img{
	width:325px;
	margin-top:70px;
}
.Popural-guides-img img{
	width:100%;
	border-radius:20px;
	z-index:-1;
}
.Popural-guides-content{
	margin-top:-230px;
	padding:0 10px 0 40px;
	width:342px;
}
.Popural-guides-content h4{
	font-family:var(--font-family-pace);
	font-size:var(--fs-24);
	font-weight:var(--fw-500);
}
.Popural-guides-content ul {
	list-style-type:none;
}
.Popural-guides-content ul li {
	padding:25px 0 15px 0;
	font-size:var(--fs-14);
	font-family:var(--font-family-pace);
}
.Popural-guides-content i{
	font-size:10px;
	color:var(--primery-color);
}
.Popural-guides-content-icon i{
	color:var(--white-color);
	border-radius:50%;
	background-color:var(--primery-color);
	padding:7px;
	font-size:var(--fs-16);
}
.Popural-guides-content-icon{
	border-top:1px solid var(--secondery-color);
	z-index:1;
	width:90%;
	padding-top:15px;
}
.Popural-guides-content-icon :last-child{
	color:var(--secondery-color);
	border-radius:50%;
	background-color:transparent;
	border:1px solid var(--secondery-color);
	padding:7px;
	font-size:var(--fs-16);
	opacity:0.7;
}
/* guides-2 end */
/* guides end */
/* Coaching Schedule start */
.upcoming-seminar{
	background-color:var(--white-color);
	margin:50px 0 50px 0;
	padding:110px 220px;
}
.upcoming-seminar-head span{
	font-family:var(--font-family-pace);
	font-size:var(--fs-14);
	color:var(--black-color);
	background-color:var(--primery-color);
	border-radius:5px;
	padding:5px 10px;
}
.upcoming-seminar-head h2{
	font-family:var(--font-family-pace);
	font-size:var(--fs-55);
	color:var(--black-color);
	font-weight:var(--fw-500);
	margin:30px 0 60px 0;
}
.seminar-img-1{
	width:245px;
}
.seminar-img-1 img{
	width:100%;
	border-radius:15px;
}
.seminar-date{
	margin:80px 50px 50px 130px;
}
.seminar-date h2{
	font-family:var(--font-family-pace);
	font-size:var(--fs-55);
	color:var(--black-color);
	font-weight:var(--fw-500);
}
.seminar-date span{
	font-family:var(--font-family-pace);
	font-size:var(--fs-16);
	color:var(--black-color);
	font-weight:var(--fw-400);
}
.seminar-content{
	font-family:var(--font-family-pace);
	font-size:var(--fs-20);
	color:var(--black-color);
	font-weight:var(--fw-500);
	padding:100px 0 0 50px;
	border-left:1px solid rgba(109, 131, 134, 0.15);
}
.seminar-content p i{
	font-size:30px;
	color:var(--black-color);
	margin:0 0 5px 30px;
}
.seminar-1, .seminar-2{
	border-bottom:1px solid rgba(109, 131, 134, 0.15);
	padding:20px 0 20px 0;
}
.seminar-3{
	padding:20px 0 20px 0;
}
.Coaching-scheduale-2-head{
	margin-left:250px;
}
.Coaching-scheduale-2-head h2{
	font-family:var(--font-family-pace);
	font-size:var(--fs-55);
	font-weight:var(--fw-500);
	color:var(--primery-color);
	text-align:center;
	padding:40px 0;
}
.Coaching-scheduale-2-head p{
	font-family:var(--font-family-inter);
	font-size:var(--fs-16);
	font-weight:var(--fw-400);
	color:var(--white-color);
	text-align:center;
	padding-bottom:40px;
}
/* Coaching Schedule end */
/* testnomial start */
.testmonial {
	text-align: center;
	padding: 120px 0 80px;
}
.testmonial-txt h2 {
	font-size: var(--fs-55);
	font-family: var(--space);
	padding: 0 20px;
	color: var(--primary-color);
	font-weight: var(--fw-500);
}
.testmonial-txt p {
	font-size: var(--fs-16);
	padding: 0 20px;
	margin: 30px 0;
}
.tst-img img {
	display: block;
	margin: 20px auto;
}
.test-img {
	overflow: hidden;
}
.test-img img {
	display: flex;
	width: 100%;
	height: 100%;
	transition: 0.4s;
}
.test-img img:hover {
	transform: scale(1.2);
	overflow: hidden;
}
/* testnomial end */
/* Testimonials-start */
.review-title h2{
	font-family:var(--space);
	font-size:var(--fs-55);
	font-weight:var(--fw-500);
	color:var(--primary-color);
	text-align:center;
	padding-top:70px;
}
.review-title span{
	font-family:var(--space);
	font-size:var(--fs-55);
	font-weight:var(--fw-500);
	color:var(--white-color);
	text-align:center;
}
.review-img{
	margin:50px 0 50px 480px;
}
.Testimonials-img-1 img{
	width:100%; 
	transform:scale(1.5);	
}
.review-content p{
	text-align:center;
	padding:0 150px;
	font-family:var(--space);
	font-size:var(--fs-16);
	font-weight:var(--fw-400);
	color:var(--white-color);
	font-style:italic;
}
.review-icon-1 i{
	color:var(--primary-color);
	border-radius:50%;
	background-color:var(--sidebar-color);
	padding:18px 22px;
	font-size:20px;	
}
.review-icon-2 i{
	color:var(--primary-color);
	border-radius:50%;
	background-color:var(--color);
	padding:18px 22px;
	font-size:20px;
}
.review-bottom{
	margin-left:580px;
	padding:30px 0;
}
.dots i{
	color:var(--primary-color);
	font-size:6px;
	padding:25px 7px 15px 7px;
}
.review-name h6{
	font-family:var(--space);
	font-size:var(--fs-20);
	margin-left:-40px;
	text-align:center;
	font-weight:var(--fw-500);
}
.review-name h6 p{
	font-family:var(--inter);
	font-size:var(--fs-16);
	color:var(--secondary-color);
	font-weight:var(--fw-400);
}
/* Testimonials-end */
/* contact-start */
.contact-1{
	background-color:var(--sidebar-color);
	padding:50px;
	border-radius:10px 10px 0px 0px;
}
.contact-2{
	background-color:var(--white-color);
	border-radius:0px 0px 10px 10px;
	padding:50px;
}
.contact-img{
	width:312px;
	margin-bottom:-100px;
	z-index:2;
}
.contact-img img{
	width:100%;
	border-radius:25px;
	position: relative;
	z-index: 5;
}
.contact-call{
	margin:50px 0 0 130px;
}
.contact-call p{
	font-family:var(--space);
	font-size:var(--fs-24);
	color:var(--white-color);
	font-weight:var(--fw-500);
	padding-bottom:15px;
}
.contact-call h3{
	font-family:var(--space);
	font-size:var(--fs-36);
	color:var(--primary-color);
	font-weight:var(--fw-500);
}
.contact-details{
	margin:80px 0 0 0;
}
.contact-details p{
	font-family:var(--inter);
	font-size:var(--fs-16);
	color:var(--black-800);
	padding-bottom:10px;
}
.contact-details h4{
	font-family:var(--space);
	font-size:var(--fs-24);
	color:var(--black-800);
	font-weight:var(--fw-500);
}
.contact-icon{
	margin:20px 0 0 0;
}
.contact-icon i{
	color:#444444;
	font-size:20px;
	font-weight:var(--fw-400);
	background-color:#f0f0f0;
	padding:20px;
	margin:10px 8px 0 0;
}
.contact-icon i:hover{
	color:var(--white-color);
}
.contact-form form {
  padding: 20px;
  width: 300px;
  margin:0 0 0 120px ;
  width:82%;
}
.contact-form form input, textarea{
	width:100%;
	border:0;
	border-bottom:3px solid #dcdcdc;
	outline:none;	
	font-family:var(--inter);
	font-size:var(--fs-16);
	color:var(--primary-color);
	padding-bottom:5px;
	margin-top:30px;
}
.contact-form button{
	border:0;
	background-color:var(--primary-color);
	color:var(--black-color);
	font-size:var(--fs-16);
	font-weight:var(--fw-600);
	padding:10px 25px;
	border-radius:70px;
	margin-top:10px;
}
/* contact-end */
/* footer start */
.footer{
	padding:30px 0px 0px;
	margin:0px 0px 20px;
	border-top:1px solid #293a3f;
}
.foot-content p{
	 margin-left:150px;
	font-size:var(--fs-16);
	font-family:var(--inter);
}
.footicon{
	margin-left:350px;
	color:var(--white-color);
}
.footicon i{
	margin-right:10px;
	color:var(--white-color);
}
.foot-icon{
	 margin-left:10px;
}
.foot-icon i{
	 padding: 10px;
	 background-color:var(--primary-color);
	 color:var(--white-color);
	 border-radius:50%;
	 font-size:25px;
}
/* footer end */