@media (min-width:1400px) {
   
}

@media (max-width:1200px) {
    .video{
        display: none;
    }

    .swiper-slide{
        display: flex;
    }

    .slider:before{
        display: none;
    }
    
    .slider:after{
        display: none;
    }

    .swiper-pagination{
        display: none;
    }

    .icon33{
        display: none !important;
    }

    .main-content{
        width: 100% !important;
    }

    .slider{
        padding: 150px 0 100px 0;
    }

    .info h2{
        font-size: 40px;
    }

    .info p{
        font-size: 16px;
    }

    .btn button{
        width: 170px;
        height: 50px;
    }

    .collabration-block{
        display: block !important;
    }
    .text h2{
        border-right: none;
        margin: 0 auto !important;
        text-align: center;
    }
    .para22{
        margin-right: 0 !important;
    }

    .img2{
        margin-bottom: 20px;
    }

    .our{
        font-size: 30px !important;
    }

    .approch{
        padding: 0px 0 100 0px;
    }
    .solution{
        padding-bottom:90px !important ;
    }
    .game-section .item.active{
        width:324px !important;
    }

    .view-all{
        justify-content: center !important  ;
    }

    .plan-info{
        justify-content: center;
        
    }
    .plan-info h2{
        font-size: 25px !important  ;
        text-align: center;
    }

    .plan-info p{
        font-size: 13px !important;
        padding-bottom: 16PX !important;
        text-align: center;
    }

    .line-title::before{
        width: 1113px !important;
    }

    .card-info h2{
        margin-bottom: 4px !important;
    }

    .game-section{
        overflow: hidden;
    }
    .icon-offering{
        justify-content: center !important;
    }
    .services h2{
        text-align: center;
        font-size: 30PX !important;
    }

    .services P{
        text-align: center;
        font-size: 14PX !important;
    }
    .shadow-effect{
        width: 544PX !important;
    }

    .owl-carousel .owl-item{
        display: flex;
        justify-content: center;
    }

    #customers-testimonials .item{
        margin-right: 0 !important;
    }

    .plan-button{
        justify-content: center !important;
        margin-top: 15px;
    }

    footer::before{
        top: 17% !important;
    }
    footer::after{
        top: 87% !important;
    }

    .solution-footer{
        justify-content: center !important;
    }

    .solution{
        padding: 18px !important;
    }

    footer .footer-contact{
        padding: 37px;
    }

    .main-contact-footer{
        justify-content: center !important;
        padding-top: 0px !important;
    }
    .logo-footer{
        justify-content: center !important;
        display: flex;
    }
    .icon-footer-bottom{
        justify-content: center !important;
        margin-bottom: 13px;
    }
    .footer-bottom{
        justify-content: center !important;
    }
    .card22{
        padding: 50px 0;
    }
    .card-team1{
        margin-top: 0 !important;
    }
    .solution-icon{
        justify-content: center !important;
        padding-top: 15px;
    }
    .para22{
        text-align: center;
    }
    .services2 h2{
       text-align: center !important;
    }
    .plan{
        padding: 77px 0;
    }
    .team{
        padding-top: 60px !important;
    }
    .team .card-team{
        margin: 0 !important;
    }

    .main-info-footer{
        gap: 0px !important;
    }

}
@media (max-width:992px) {
    .video{  
        display: none;
    }

    .swiper-slide{
        display: flex;
    }

    .slider:before{
        display: none;
    }
    
    .slider:after{
        display: none;
    }

    .swiper-pagination{
        display: none;
    }

    .icon33{
        display: none !important;
    }

    .main-content{
        width: 100% !important;
    }

    .slider{
        padding: 150px 0 100px 0;
    }

    .info h2{
        font-size: 40px;
    }

    .info p{
        font-size: 16px;
    }

    .btn button{
        width: 170px;
        height: 50px;
    }

    .collabration-block{
        display: block !important;
    }
    .text h2{
        border-right: none;
        margin: 0 auto !important;
        text-align: center;
    }
    .para22{
        margin-right: 0 !important;
    }

    .img2{
        margin-bottom: 20px;
    }

    .our{
        font-size: 30px !important;
    }

    .approch{
        padding: 0px 0 100 0px;
    }
    .solution{
        padding-bottom:90px !important ;
    }
    .game-section .item.active{
        width:430px !important;
    }

    .view-all{
        justify-content: center !important  ;
    }

    .plan-info{
        justify-content: center;
        
    }
    .plan-info h2{
        font-size: 25px !important  ;
        text-align: center;
    }

    .plan-info p{
        font-size: 13px !important;
        padding-bottom: 16PX !important;
        text-align: center;
    }

    .line-title::before{
        width: 935px !important;
    }

    .card-info h2{
        margin-bottom: 4px !important;
    }

    .game-section{
        overflow: hidden;
    }
    .icon-offering{
        justify-content: center !important;
    }
    .services h2{
        text-align: center;
        font-size: 30PX !important;
    }

    .services P{
        text-align: center;
        font-size: 14PX !important;
    }
    .shadow-effect{
        width: 544PX !important;
    }

    .owl-carousel .owl-item{
        display: flex;
        justify-content: center;
    }

    #customers-testimonials .item{
        margin-right: 0 !important;
    }

    .plan-button{
        justify-content: center !important;
        margin-top: 15px;
    }

    footer::before{
        top: 13% !important;
    }
    footer::after{
        top: 92% !important;
    }

    .solution-footer{
        justify-content: center !important;
    }

    .solution{
        padding: 18px !important;
    }

    footer .footer-contact{
        padding: 37px;
    }

    .main-contact-footer{
        justify-content: center !important;
        padding-top: 25px;
    }
    .logo-footer{
        justify-content: center !important;
        display: flex;
    }
    .icon-footer-bottom{
        justify-content: center !important;
        margin-bottom: 13px;
    }
    .footer-bottom{
        justify-content: center !important;
    }
    .card22{
        padding: 50px 0;
    }
    .card-team1{
        margin-top: 0 !important;
    }
    .solution-icon{
        justify-content: center !important;
        padding-top: 15px;
    }
    .para22{
        text-align: center;
    }
    .services2 h2{
       text-align: center !important;
    }
    .plan{
        padding: 77px 0;
    }
    .team{
        padding-top: 60px !important;
    }
    .team .card-team{
        margin: 0 !important;
    }

    .main-info-footer{
        gap: 15px !important;
    }


}
@media (max-width:991px) {
    .video{
        display: none !important;
    }

    .swiper-slide{
        display: none !important;
    }

    .slider:before{
        display: none !important;
    }
    
    .slider:after{
        display: none !important;
    }

    .icon33{
        display: none !important;
    }

    .main-content{
        width: 100% !important;
    }

    .slider{
        padding: 150px 0 100px 0;
    }

    .info h2{
        font-size: 40px;
    }

    .info p{
        font-size: 16px;
    }

    .btn button{
        width: 170px;
        height: 50px;
    }

    .collabration-block{
        display: block !important;
    }
    .text h2{
        border-right: none;
        margin: 0 auto !important;
        text-align: center;
    }
    .para22{
        margin-right: 0 !important;
    }

    .img2{
        margin-bottom: 20px;
    }

    .our{
        font-size: 30px !important;
    }

    .approch{
        padding: 0px 0 100 0px;
    }
    .solution{
        padding-bottom:90px !important ;
    }
    .game-section .item.active{
        width:655px !important;
    }

    .view-all{
        justify-content: center !important  ;
    }

    .plan-info{
        justify-content: center;
        
    }
    .plan-info h2{
        font-size: 25px !important  ;
        text-align: center;
    }

    .plan-info p{
        font-size: 13px !important;
        padding-bottom: 16PX !important;
        text-align: center;
    }

    .line-title::before{
        width: 711px !important;
    }

    .game-section{
        overflow: hidden;
    }
    .icon-offering{
        justify-content: center !important;
    }
    .services h2{
        text-align: center;
        font-size: 30PX !important;
    }

    .services P{
        text-align: center;
        font-size: 14PX !important;
    }
    .shadow-effect{
        width: 544PX !important;
    }

    .owl-carousel .owl-item{
        display: flex;
        justify-content: center;
    }

    #customers-testimonials .item{
        margin-right: 0 !important;
    }

    .plan-button{
        justify-content: center !important;
        margin-top: 15px;
    }

    footer::before{
        top: 10% !important;
    }
    footer::after{
        top: 94% !important;
    }

    .solution-footer{
        justify-content: center !important;
    }

    .solution{
        padding: 18px !important;
    }

    footer .footer-contact{
        padding: 37px;
    }

    .main-contact-footer{
        justify-content: center !important;
        padding-top: 25px;
    }
    .logo-footer{
        justify-content: center !important;
        display: flex;
    }
    .icon-footer-bottom{
        justify-content: center !important;
        margin-bottom: 13px;
    }
    .footer-bottom{
        justify-content: center !important;
    }
    .card22{
        padding: 50px 0;
    }
    .card-team1{
        margin-top: 0 !important;
    }
    .solution-icon{
        justify-content: center !important;
        padding-top: 15px;
    }
    .para22{
        text-align: center;
    }
    .services2 h2{
       text-align: center !important;
    }
    .plan{
        padding: 77px 0;
    }
    .team{
        padding-top: 60px !important;
    }
    .team .card-team{
        margin: 0 !important;
    }

    #customers-testimonials .item {
        opacity: -0.5;
    }
}
@media (max-width:768px) {
    .video{
        display: none !important;
    }

    .swiper-slide{
        display: none !important;
    }

    .slider:before{
        display: none !important;
    }
    
    .slider:after{
        display: none !important;
    }

    .icon33{
        display: none !important;
    }

    .main-content{
        width: 100% !important;
    }

    .slider{
        padding: 150px 0 100px 0;
    }

    .info h2{
        font-size: 40px;
    }

    .info p{
        font-size: 16px;
    }

    .btn button{
        width: 170px;
        height: 50px;
    }

    .collabration-block{
        display: block !important;
    }
    .text h2{
        border-right: none;
        margin: 0 auto !important;
        text-align: center;
    }
    .para22{
        margin-right: 0 !important;
    }

    .img2{
        margin-bottom: 20px;
    }

    .our{
        font-size: 30px !important;
    }

    .approch{
        padding: 0px 0 100 0px;
    }
    .solution{
        padding-bottom:90px !important ;
    }
    .game-section .item.active{
        width:655px !important;
    }

    .view-all{
        justify-content: center !important  ;
    }

    .plan-info{
        justify-content: center;
        
    }
    .plan-info h2{
        font-size: 25px !important  ;
        text-align: center;
    }

    .plan-info p{
        font-size: 13px !important;
        padding-bottom: 16PX !important;
        text-align: center;
    }

    .line-title::before{
        width: 711px !important;
    }

    .game-section{
        overflow: hidden;
    }
    .icon-offering{
        justify-content: center !important;
    }
    .services h2{
        text-align: center;
        font-size: 30PX !important;
    }

    .services P{
        text-align: center;
        font-size: 14PX !important;
    }
    .shadow-effect{
        width: 544PX !important;
    }

    .owl-carousel .owl-item{
        display: flex;
        justify-content: center;
    }

    #customers-testimonials .item{
        margin-right: 0 !important;
    }

    .plan-button{
        justify-content: center !important;
        margin-top: 15px;
    }

    footer::before{
        top: 10% !important;
    }
    footer::after{
        top: 94% !important;
    }

    .solution-footer{
        justify-content: center !important;
    }

    .solution{
        padding: 18px !important;
    }

    footer .footer-contact{
        padding: 37px;
    }

    .main-contact-footer{
        justify-content: center !important;
        padding-top: 25px;
    }
    .logo-footer{
        justify-content: center !important;
        display: flex;
    }
    .icon-footer-bottom{
        justify-content: center !important;
        margin-bottom: 13px;
    }
    .footer-bottom{
        justify-content: center !important;
    }
    .card22{
        padding: 50px 0;
    }
    .card-team1{
        margin-top: 0 !important;
    }
    .solution-icon{
        justify-content: center !important;
        padding-top: 15px;
    }
    .para22{
        text-align: center;
    }
    .services2 h2{
       text-align: center !important;
    }
    .plan{
        padding: 77px 0;
    }
    .team{
        padding-top: 60px !important;
    }
    .team .card-team{
        margin: 0 !important;
    }
}
@media (max-width:576px) {
    .video{
        display: none;
    }

    .swiper-slide{
        display: none;
    }

    .slider:before{
        display: none;
    }
    
    .slider:after{
        display: none;
    }

    .icon33{
        display: none !important;
    }

    .main-content{
        width: 100% !important;
    }

    .slider{
        padding: 150px 0 100px 0;
    }

    .info h2{
        font-size: 40px;
    }

    .info p{
        font-size: 16px;
    }

    .btn button{
        width: 170px;
        height: 50px;
    }

    .collabration-block{
        display: block !important;
    }
    .text h2{
        border-right: none;
        margin: 0 auto !important;
        text-align: center;
    }
    .para22{
        margin-right: 0 !important;
    }

    .img2{
        margin-bottom: 20px;
    }

    .our{
        font-size: 30px !important;
    }

    .approch{
        padding: 0px 0 100 0px;
    }
    .solution{
        padding-bottom:90px !important ;
    }
    .game-section .item.active{
        width:500px !important;
    }

    .view-all{
        justify-content: center !important  ;
    }

    .plan-info{
        justify-content: center;
        
    }
    .plan-info h2{
        font-size: 25px !important  ;
        text-align: center;
    }

    .plan-info p{
        font-size: 13px !important;
        padding-bottom: 16PX !important;
        text-align: center;
    }

    .line-title::before{
        width: 545px !important;
    }

    .game-section{
        overflow: hidden;
    }
    .icon-offering{
        justify-content: center !important;
    }
    .services h2{
        text-align: center;
        font-size: 30PX !important;
    }

    .services P{
        text-align: center;
        font-size: 14PX !important;
    }
    .shadow-effect{
        width: 544PX !important;
    }

    .owl-carousel .owl-item{
        display: flex;
        justify-content: center;
    }

    #customers-testimonials .item{
        margin-right: 0 !important;
    }

    .plan-button{
        justify-content: center !important;
        margin-top: 15px;
    }

    footer::before{
        top: 10% !important;
    }
    footer::after{
        top: 94% !important;
    }

    .solution-footer{
        justify-content: center !important;
    }

    .solution{
        padding: 18px !important;
    }

    footer .footer-contact{
        padding: 37px;
    }

    .main-contact-footer{
        justify-content: center !important;
        padding-top: 25px;
    }
    .logo-footer{
        justify-content: center !important;
        display: flex;
    }
    .icon-footer-bottom{
        justify-content: center !important;
        margin-bottom: 13px;
    }
    .footer-bottom{
        justify-content: center !important;
    }
    .card22{
        padding: 50px 0;
    }
    .card-team1{
        margin-top: 0 !important;
    }
    .solution-icon{
        justify-content: center !important;
        padding-top: 15px;
    }
    .para22{
        text-align: center;
    }
    .services2 h2{
       text-align: center !important;
    }
    .plan{
        padding: 77px 0;
    }
    .team{
        padding-top: 60px !important;
    }

    .main-info-footer{
        gap: 15px;
    }
}
@media (max-width:575px) {
    .video{
        display: none;
    }

    .swiper-slide{
        display: none;
    }

    .slider:before{
        display: none;
    }
    
    .slider:after{
        display: none;
    }

    .icon33{
        display: none !important;
    }

    .main-content{
        width: 100% !important;
    }

    .slider{
        padding: 150px 0 100px 0;
    }

    .info h2{
        font-size: 40px;
    }

    .info p{
        font-size: 16px;
    }

    .btn button{
        width: 170px;
        height: 50px;
    }

    .collabration-block{
        display: block !important;
    }
    .text h2{
        border-right: none;
        margin: 0 auto !important;
        text-align: center;
    }
    .para22{
        margin-right: 0 !important;
    }

    .img2{
        margin-bottom: 20px;
    }

    .our{
        font-size: 30px !important;
    }

    .approch{
        padding: 0px 0 100 0px;
    }
    .solution{
        padding-bottom:90px !important ;
    }
    .game-section .item.active{
        width:500px !important;
    }

    .view-all{
        justify-content: center !important  ;
    }

    .plan-info{
        justify-content: center;
        
    }
    .plan-info h2{
        font-size: 25px !important  ;
        text-align: center;
    }

    .plan-info p{
        font-size: 13px !important;
        padding-bottom: 16PX !important;
        text-align: center;
    }

    .line-title::before{
        width: 545px !important;
    }

    .game-section{
        overflow: hidden;
    }
    .icon-offering{
        justify-content: center !important;
    }
    .services h2{
        text-align: center;
        font-size: 30PX !important;
    }

    .services P{
        text-align: center;
        font-size: 14PX !important;
    }
    .shadow-effect{
        width: 544PX !important;
    }

    .owl-carousel .owl-item{
        display: flex;
        justify-content: center;
    }

    #customers-testimonials .item{
        margin-right: 0 !important;
    }

    .plan-button{
        justify-content: center !important;
        margin-top: 15px;
    }

    footer::before{
        top: 10% !important;
    }
    footer::after{
        top: 94% !important;
    }

    .solution-footer{
        justify-content: center !important;
    }

    .solution{
        padding: 18px !important;
    }

    footer .footer-contact{
        padding: 37px;
    }

    .main-contact-footer{
        justify-content: center !important;
        padding-top: 25px;
    }
    .logo-footer{
        justify-content: center !important;
        display: flex;
    }
    .icon-footer-bottom{
        justify-content: center !important;
        margin-bottom: 13px;
    }
    .footer-bottom{
        justify-content: center !important;
    }
    .card22{
        padding: 50px 0;
    }
    .card-team1{
        margin-top: 0 !important;
    }
    .solution-icon{
        justify-content: center !important;
        padding-top: 15px;
    }
    .para22{
        text-align: center;
    }
    .services2 h2{
       text-align: center !important;
    }
    .plan{
        padding: 77px 0;
    }
    .team{
        padding-top: 60px !important;
    }
}
@media (max-width:414px) {
    .video{
        display: none;
    }

    .swiper-slide{
        display: none;
    }

    .slider:before{
        display: none;
    }
    
    .slider:after{
        display: none;
    }

    .icon33{
        display: none !important;
    }

    .main-content{
        width: 100% !important;
    }

    .slider{
        padding: 150px 0 100px 0;
    }

    .info h2{
        font-size: 40px;
    }

    .info p{
        font-size: 16px;
    }

    .btn button{
        width: 170px;
        height: 50px;
    }

    .collabration-block{
        display: block !important;
    }
    .text h2{
        border-right: none;
        margin: 0 auto !important;
        text-align: center;
    }
    .para22{
        margin-right: 0 !important;
    }

    .img2{
        margin-bottom: 20px;
    }

    .our{
        font-size: 30px !important;
    }

    .approch{
        padding: 0px 0 100 0px;
    }
    .solution{
        padding-bottom:90px !important ;
    }
    .game-section .item.active{
        width:500px !important;
    }

    .view-all{
        justify-content: center !important  ;
    }

    .plan-info{
        justify-content: center;
        
    }
    .plan-info h2{
        font-size: 25px !important  ;
        text-align: center;
    }

    .plan-info p{
        font-size: 13px !important;
        padding-bottom: 16PX !important;
        text-align: center;
    }

    .line-title::before{
        width: 545px !important;
    }

    .game-section{
        overflow: hidden;
    }
    .icon-offering{
        justify-content: center !important;
    }
    .services h2{
        text-align: center;
        font-size: 30PX !important;
    }

    .services P{
        text-align: center;
        font-size: 14PX !important;
    }
    .shadow-effect{
        width: 544PX !important;
    }

    .owl-carousel .owl-item{
        display: flex;
        justify-content: center;
    }

    #customers-testimonials .item{
        margin-right: 0 !important;
    }

    .plan-button{
        justify-content: center !important;
        margin-top: 15px;
    }

    footer::before{
        top: 10%;
    }
    footer::after{
        top: 94%;
    }

    .solution-footer{
        justify-content: center !important;
    }

    .solution{
        padding: 18px !important;
    }

    footer .footer-contact{
        padding: 37px;
    }

    .main-contact-footer{
        justify-content: center !important;
        padding-top: 25px;
    }
    .logo-footer{
        justify-content: center !important;
        display: flex;
    }
    .icon-footer-bottom{
        justify-content: center !important;
        margin-bottom: 13px;
    }
    .footer-bottom{
        justify-content: center !important;
    }
    .card22{
        padding: 50px 0;
    }
    .card-team1{
        margin-top: 0 !important;
    }
    .solution-icon{
        justify-content: center !important;
        padding-top: 15px;
    }
    .para22{
        text-align: center;
    }
    .services2 h2{
       text-align: center !important;
    }
    .plan{
        padding: 77px 0;
    }
    .team{
        padding-top: 60px !important;
    }
}
@media (max-width:393px) {
    .video{
        display: none;
    }

    .swiper-slide{
        display: none;
    }

    .slider:before{
        display: none;
    }
    
    .slider:after{
        display: none;
    }

    .icon33{
        display: none !important;
    }

    .main-content{
        width: 100% !important;
    }

    .slider{
        padding: 150px 0 100px 0;
    }

    .info h2{
        font-size: 40px;
    }

    .info p{
        font-size: 16px;
    }

    .btn button{
        width: 170px;
        height: 50px;
    }

    .collabration-block{
        display: block !important;
    }
    .text h2{
        border-right: none;
        margin: 0 auto !important;
        text-align: center;
    }
    .para22{
        margin-right: 0 !important;
    }

    .img2{
        margin-bottom: 20px;
    }

    .our{
        font-size: 30px !important;
    }

    .approch{
        padding: 0px 0 100 0px;
    }
    .solution{
        padding-bottom:90px !important ;
    }
    .game-section .item.active{
        width:500px !important;
    }

    .view-all{
        justify-content: center !important  ;
    }

    .plan-info{
        justify-content: center;
        
    }
    .plan-info h2{
        font-size: 25px !important  ;
        text-align: center;
    }

    .plan-info p{
        font-size: 13px !important;
        padding-bottom: 16PX !important;
        text-align: center;
    }

    .line-title::before{
        width: 545px !important;
    }

    .game-section{
        overflow: hidden;
    }
    .icon-offering{
        justify-content: center !important;
    }
    .services h2{
        text-align: center;
        font-size: 30PX !important;
    }

    .services P{
        text-align: center;
        font-size: 14PX !important;
    }
    .shadow-effect{
        width: 544PX !important;
    }

    .owl-carousel .owl-item{
        display: flex;
        justify-content: center;
    }

    #customers-testimonials .item{
        margin-right: 0 !important;
    }

    .plan-button{
        justify-content: center !important;
        margin-top: 15px;
    }

    footer::before{
        top: 10%;
    }
    footer::after{
        top: 94%;
    }

    .solution-footer{
        justify-content: center !important;
    }

    .solution{
        padding: 18px !important;
    }

    footer .footer-contact{
        padding: 37px;
    }

    .main-contact-footer{
        justify-content: center !important;
        padding-top: 25px;
    }
    .logo-footer{
        justify-content: center !important;
        display: flex;
    }
    .icon-footer-bottom{
        justify-content: center !important;
        margin-bottom: 13px;
    }
    .footer-bottom{
        justify-content: center !important;
    }
    .card22{
        padding: 50px 0;
    }
    .card-team1{
        margin-top: 0 !important;
    }
    .solution-icon{
        justify-content: center !important;
        padding-top: 15px;
    }
    .para22{
        text-align: center;
    }
    .services2 h2{
       text-align: center !important;
    }
    .plan{
        padding: 77px 0;
    }
    .team{
        padding-top: 60px !important;
    }
}
@media (max-width:375px) {
    .video{
        display: none;
    }

    .swiper-slide{
        display: none;
    }

    .slider:before{
        display: none;
    }
    
    .slider:after{
        display: none;
    }

    .icon33{
        display: none !important;
    }

    .main-content{
        width: 100% !important;
    }

    .slider{
        padding: 150px 0 100px 0;
    }

    .info h2{
        font-size: 40px;
    }

    .info p{
        font-size: 16px;
    }

    .btn button{
        width: 170px;
        height: 50px;
    }

    .collabration-block{
        display: block !important;
    }
    .text h2{
        border-right: none;
        margin: 0 auto !important;
        text-align: center;
    }
    .para22{
        margin-right: 0 !important;
    }

    .img2{
        margin-bottom: 20px;
    }

    .our{
        font-size: 30px !important;
    }

    .approch{
        padding: 0px 0 100 0px;
    }
    .solution{
        padding-bottom:90px !important ;
    }
    .game-section .item.active{
        width:500px !important;
    }

    .view-all{
        justify-content: center !important  ;
    }

    .plan-info{
        justify-content: center;
        
    }
    .plan-info h2{
        font-size: 25px !important  ;
        text-align: center;
    }

    .plan-info p{
        font-size: 13px !important;
        padding-bottom: 16PX !important;
        text-align: center;
    }

    .line-title::before{
        width: 545px !important;
    }

    .game-section{
        overflow: hidden;
    }
    .icon-offering{
        justify-content: center !important;
    }
    .services h2{
        text-align: center;
        font-size: 30PX !important;
    }

    .services P{
        text-align: center;
        font-size: 14PX !important;
    }
    .shadow-effect{
        width: 544PX !important;
    }

    .owl-carousel .owl-item{
        display: flex;
        justify-content: center;
    }

    #customers-testimonials .item{
        margin-right: 0 !important;
    }

    .plan-button{
        justify-content: center !important;
        margin-top: 15px;
    }

    footer::before{
        top: 10%;
    }
    footer::after{
        top: 94%;
    }

    .solution-footer{
        justify-content: center !important;
    }

    .solution{
        padding: 18px !important;
    }

    footer .footer-contact{
        padding: 37px;
    }

    .main-contact-footer{
        justify-content: center !important;
        padding-top: 25px;
    }
    .logo-footer{
        justify-content: center !important;
        display: flex;
    }
    .icon-footer-bottom{
        justify-content: center !important;
        margin-bottom: 13px;
    }
    .footer-bottom{
        justify-content: center !important;
    }
    .card22{
        padding: 50px 0;
    }
    .card-team1{
        margin-top: 0 !important;
    }
    .solution-icon{
        justify-content: center !important;
        padding-top: 15px;
    }
    .para22{
        text-align: center;
    }
    .services2 h2{
       text-align: center !important;
    }
    .plan{
        padding: 77px 0;
    }
    .team{
        padding-top: 60px !important;
    }
}









